asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
pycurl==7.43.0.1
pygobject==3.27.1
pyliblzma==0.5.3
pysqlite==1.0.1
pyxdg==0.25
rpm==4.14.1
SecretStorage==2.3.1
six==1.11.0
urlgrabber==3.10.2
yum-metadata-parser==1.1.4
