{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Journal</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>
<body>


<nav class="navbar navbar-light bg-light">
  
  {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'journal_app:notes' %}">Journal</a>
    <a class="btn btn-outline-primary" href="{% url 'users:logout' %}">Sign out</a>
  {% else %}
    <a class="navbar-brand" href="{% url 'journal_app:index' %}">Journal</a>
    <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Sign in</a>
  {% endif %}
 
  
</nav>

<div class="container-fluid">
{% block content %}
{% endblock content %}
</div>
{% block footer %}

{% endblock footer %}
</body>
</html>