{% extends 'journal_app/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'journal_app:edit_note' note.id %}" method="post">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-primary" name="submit">save</button>
    </form>
    <form action="{% url 'journal_app:delete_note' note.id %}" method="post">
        {% csrf_token %}
        
        <button class="btn btn-danger btn-sm" name="submit">Delete</button>
    </form>

{% endblock content %}