{% extends 'journal_app/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
  

  <div class="jumbotron bg-light">
    <div class="row justify-content-around align-items-center">
      <div class="col-md-4 text-left">
        <h3>Keep your mind free.</h3>
        <p>Your mind is for having Ideas not keeping track of them. Use easynottes to organize your thoughts.</p>
        <a class= "btn btn-primary" href="{% url 'users:login' %}">Sign in</a>
        <a  href="{% url 'users:register' %}">or sign up here.</a>
      </div>
      <div class="col-md-4 p-5">
        <img src="{% static 'journal_app/img/mobil.PNG' %}" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
      <div class="row justify-content-around m-3">
    <h2> What do you get </h2>
    </div>
  <div class="row justify-content-around text-center">

    
    <div class="col-lg-3 p-5">
      <h5>Stay organized </h5>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    <div class="col-lg-3 p-5 ">
      <h5> Use it anywhere</h5>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    <div class="col-lg-3 p-5">
      <h5> Backup</h5>
      <p> Lorem Ipsum is simply dummy text of the printing and typesetting</p>
    </div>
    
  </div>
  <div class="jumbotron bg-light text-center p-5">
      <h2> What are you waiting for? </h2>
      <p> </p>
      <a class= "btn btn-primary" href="{% url 'users:login' %}">Sign in</a>
        <a  href="{% url 'users:register' %}">or sign up here.</a>
    </div>
</div>
{% endblock content %}
