{% extends 'journal_app/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'journal_app/css/style.css' %}">
<style>
  .django-ckeditor-widget {
    min-width: 100% !important;
  }
</style>

<div class="row">
  {% if user.is_authenticated %} <h4> Welcome back {{ user.username }}. </h4>{% endif %}
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      {% for note in notes %}
      <div class="card-body border">
        <h5>{{note.heading|safe }}</h5>
        <p>{{ note.date_added|date:'M d, Y H:i' |safe }}</p>
        <h6> {{ note | safe}} </h6>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'journal_app:edit_note' note.id %}">Edit</a>
      </div>
      {% empty %}
      <div class="card-body border">
        <h5>You have no notes yet. </h5>
      </div>
      {% endfor %}
    </div>

  </div>
  <div class="col">
    <form action="{% url 'journal_app:notes' %}" method="post">
      {% csrf_token %}
      {% buttons %}
      <button class="btn btn-primary btn-sm " name="submit">Save</button>
      {% endbuttons %}
        {{ form.media }}
        {% bootstrap_form form %}
    </form>
  </div>
</div>


{% endblock content %}